<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>:smile:</key>
	<string></string>
	<key>:laughing:</key>
	<string></string>
	<key>:blush:</key>
	<string></string>
	<key>:smiley:</key>
	<string></string>
	<key>:relaxed:</key>
	<string></string>
	<key>:smirk:</key>
	<string></string>
	<key>:heart_eyes:</key>
	<string></string>
	<key>:kissing_closed_eyes:</key>
	<string></string>
	<key>:flushed:</key>
	<string></string>
	<key>:relieved:</key>
	<string></string>
	<key>:satisfied:</key>
	<string></string>
	<key>:grin:</key>
	<string></string>
	<key>:wink:</key>
	<string></string>
	<key>:wink2:</key>
	<string></string>
	<key>:stuck_out_tongue_winking_eye:</key>
	<string></string>
	<key>:stuck_out_tongue_closed_eyes:</key>
	<string></string>
	<key>:grinning:</key>
	<string></string>
	<key>:kissing:</key>
	<string></string>
	<key>:kissing_smiling_eyes:</key>
	<string></string>
	<key>:stuck_out_tongue:</key>
	<string></string>
	<key>:worried:</key>
	<string></string>
	<key>:frowning:</key>
	<string></string>
	<key>:anguished:</key>
	<string></string>
	<key>:open_mouth:</key>
	<string></string>
	<key>:+1:</key>
	<string></string>
	<key>:thumbsup:</key>
	<string></string>
	<key>:-1:</key>
	<string></string>
	<key>:thumbsdown:</key>
	<string></string>
	<key>:ok_hand:</key>
	<string></string>
	<key>:punch:</key>
	<string></string>
	<key>:facepunch:</key>
	<string></string>
	<key>:fist:</key>
	<string></string>
	<key>:v:</key>
	<string></string>
	<key>:wave:</key>
	<string></string>
	<key>:hand:</key>
	<string></string>
	<key>:open_hands:</key>
	<string></string>
	<key>:point_up:</key>
	<string></string>
	<key>:point_down:</key>
	<string></string>
	<key>:point_left:</key>
	<string></string>
	<key>:point_right:</key>
	<string></string>
	<key>:raised_hands:</key>
	<string></string>
	<key>:pray:</key>
	<string></string>
	<key>:point_up_2:</key>
	<string></string>
	<key>:clap:</key>
	<string></string>
	<key>:muscle:</key>
	<string></string>
	<key>:walking:</key>
	<string></string>
	<key>:runner:</key>
	<string></string>
	<key>:running:</key>
	<string></string>
	<key>:couple:</key>
	<string></string>
	<key>:dancer:</key>
	<string></string>
	<key>:dancers:</key>
	<string></string>
	<key>:ok_woman:</key>
	<string></string>
	<key>:no_good:</key>
	<string></string>
	<key>:information_desk_person:</key>
	<string></string>
	<key>:bow:</key>
	<string></string>
	<key>:couplekiss:</key>
	<string></string>
	<key>:couple_with_heart:</key>
	<string></string>
	<key>:massage:</key>
	<string></string>
	<key>:haircut:</key>
	<string></string>
	<key>:nail_care:</key>
	<string></string>
	<key>:boy:</key>
	<string></string>
	<key>:girl:</key>
	<string></string>
	<key>:woman:</key>
	<string></string>
	<key>:man:</key>
	<string></string>
	<key>:baby:</key>
	<string></string>
	<key>:older_woman:</key>
	<string></string>
	<key>:older_man:</key>
	<string></string>
	<key>:person_with_blond_hair:</key>
	<string></string>
	<key>:man_with_gua_pi_mao:</key>
	<string></string>
	<key>:man_with_turban:</key>
	<string></string>
	<key>:construction_worker:</key>
	<string></string>
	<key>:cop:</key>
	<string></string>
	<key>:angel:</key>
	<string></string>
	<key>:princess:</key>
	<string></string>
</dict>
</plist>
